.ssd-navbar {
    margin: 0 auto;
}

.ssd-navbar-header {
    align-items: flex-start;
}

.ssd-empty-space {
    width: 350px;
    display: inline-block;
}

.ssd-navbar-sub-header {
    text-align: right;
    display: inline-flex;
}